{% schema %}
{
  "name": "Vue Contact Form",
  "settings": [],
  "presets": [{ "name": "Vue Contact Form" }]
}
{% endschema %}

<div 
  class="vue-section-root" 
  data-component="ContactForm"
></div>